<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>| Atualizar Vaga |</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.navbar-brand {
            font-weight: bold;
        }

        .navbar-toggler {
            border: none;
        }

        .nav-link {
            font-weight: bold;
        }

        .form-control {
            border-radius: 20px;
        }

        .btn-success {
            border-radius: 20px;
            font-weight: bold;
            padding: 10px 30px;
        }

        .footer-copyright {
            font-size: 14px;
        }
	</style>
</head>

<body>

<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Application RH</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/Diog007/aplicationRH-backend">
							<i class="fab fa-github"></i> GitHub
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/vagas">
							<i class="fas fa-search"></i> Buscar Vagas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/cadastrarVaga">
							<i class="fas fa-plus"></i> Cadastrar Vaga
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container mt-5">
	<h1 class="text-center mb-5">Atualizar Vaga</h1>
	<form method="post">
		<div class="mb-3">
			<label for="nome" class="form-label">Nome do Cargo:</label>
			<input type="text" class="form-control" id="nome" name="nome" placeholder="Insira o nome do cargo"
				   required>
			<small class="form-text text-muted">* Utilize nomes e termos mais utilizados no mercado.</small>
		</div>
		<div class="row">
			<div class="col">
				<div class="mb-3">
					<label for="data" class="form-label">Data de Expiração:</label>
					<input type="date" class="form-control" id="data" name="data" required>
					<small class="form-text text-muted">* Data em que a vaga expira.</small>
				</div>
			</div>
			<div class="col">
				<div class="mb-3">
					<label for="salario" class="form-label">Salário:</label>
					<div class="input-group">
						<span class="input-group-text">R$</span>
						<input type="number" class="form-control" id="salario" name="salario" required>
					</div>
					<small class="form-text text-muted">* Utilize valores sem considerar vírgulas e pontos.</small>
				</div>
			</div>
		</div>
		<div class="mb-3">
			<label for="descricao" class="form-label">Descrição da Vaga:</label>
			<textarea class="form-control" id="descricao" name="descricao" rows="3" maxlength="254"
					  required></textarea>
			<small class="form-text text-muted">* Breve resumo da vaga oferecida.</small>
		</div>
		<button type="submit" class="btn btn-success d-block mx-auto">Salvar</button>
	</form>
</div>

<footer class="fixed-bottom bg-dark text-light text-center py-3">
        <span>| Application RH | - © 2024 Diog007 - <a href="https://github.com/Diog007" class="text-light">GitHub</a>
        </span>
</footer>

<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
