<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>| Application RH - 2024 |</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.navbar-brand {
            font-weight: bold;
        }

        .navbar-toggler {
            border: none;
        }

        .nav-link {
            font-weight: bold;
        }

        .card-header {
            background-color: #343a40;
            color: white;
        }

        .btn-outline-primary,
        .btn-outline-success {
            border-width: 2px;
            font-weight: bold;
            margin-bottom: 10px;
        }
	</style>
</head>

<body>

<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Application RH</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
					aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/Diog007/aplicationRH-backend">
							<i class="fab fa-github"></i> GitHub
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/vagas">
							<i class="fas fa-search"></i> Buscar Vagas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/cadastrarVaga">
							<i class="fas fa-plus"></i> Cadastrar Vaga
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<div class="container mt-5">
	<div class="row">
		<div class="col">
			<div class="card text-center">
				<div class="card-header">
					<h3>Vagas</h3>
				</div>
				<div class="card-body">
					<p class="card-text">Explore as oportunidades disponíveis em nossa plataforma.</p>
					<a href="/vagas" class="btn btn-outline-primary btn-lg btn-block">Vagas Disponíveis <i
							class="fas fa-star"></i></a>
					<a href="/cadastrarVaga" class="btn btn-outline-success btn-lg btn-block">Publicar Nova Vaga <i
							class="fas fa-rocket"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<footer class="fixed-bottom bg-dark text-light text-center py-3">
        <span>| Application RH | - © 2024 Diog007 - <a href="https://github.com/Diog007" class="text-light">GitHub</a>
        </span>
</footer>

<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>